* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header, footer {
    color: #FFFFFF;
    background-color: #000000;
    width: 100%;
    padding: 50px 0;
}

.body {
    color: #000000;
    background-color: #FFFFFF;
    width: 640px;
    padding: 0;
    flex-grow: 1;
}
.body h1 {
    padding: 25px 0 10px 0;
}

.body p {
    padding: 10px 0;
}

.bilibili {
    padding: 5px 10px;
    font-size: 20px;
    background-color: #FFFFFF;
    background-image: url("https://i0.hdslb.com/bfs/static/jinkela/long/images/favicon.ico");
    background-repeat: no-repeat;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7FD0EA;
}
